absl-py
altgraph
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
comm
confection
contextlib2
contourpy
cycler
cymem
Cython
debugpy
decorator
defusedxml
en-core-web-sm
exceptiongroup
executing
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fqdn
fsspec
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
